html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  /* Move down content because we have a fixed navbar that is 51px tall */
  padding-top: 51px;
}
body.hideNavBar {
  padding-top: 0px;
}
body > div.container-fluid > div.row {
  background-color: #purple !important;
  color: #green !important;
}
