html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: red !important;
  color: blue !important;
  /* Move down content because we have a fixed navbar that is 51px tall */
  padding-top: 51px;
}
body.hideNavBar {
  padding-top: 0px;
}
body > div.container-fluid > div.row {
  background-color: #ffffff !important;
}

/* The player header */

#rscp-header {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  height: 51px;
  width: 100%;
  min-width: 275px;
  background-color: green !important;
  border-bottom: 5px solid rgba(66, 62, 67, 0.84) !important;
  padding-right: 15px;
  padding-left: 15px;
}
#rscp-header-title-container {
  width: 100%;
}
.hideNavBar #rscp-header {
  display: none;
}
.hideTitleBar #title {
  display: none;
}
.rscp-header-row {
  display: table-row;
}
.rscp-header-cell {
  display: table-cell;
  vertical-align: middle;
}
#rscp-logo {
  margin-top: 2px;
  margin-right: 5px;
  height: 46px;
  width: auto;
}

/* The course title in the header bar */
#courseTitleText {
  line-height: 20px;
  font-size: 18px;
  color: #000000 !important;
}
@media (max-width: 700px) {
  #courseTitleText {
    font-size: 80%;
    line-height: 12px;
    color: #000000 !important;
  }
}
.rscp-btn-responsive {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .rscp-btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
@media (max-width: 1440px) {
  .showDebug .rscp-btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
#menu-container {
  text-align: right;
  white-space: nowrap;
}
@media (max-width: 500px) {
  #menu-container {
    text-align: left;
  }
  #rscp-header-title-container {
    display: block;
    white-space: nowrap;
  }
  #rscp-header-menu-container {
    display: block;
  }
  .rscp-topMenuItem {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
@media (max-width: 700px) {
  .showDebug #menu-container {
    text-align: left;
  }
  .showDebug #rscp-header-title-container {
    display: block;
    white-space: nowrap;
  }
  .showDebug #rscp-header-menu-container {
    display: block;
  }
  .showDebug .rscp-topMenuItem {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
#rscp-progressbar {
  display: inline-block;
  margin-bottom: -5px;
  width: 90px;
}
@media (max-width: 767px) {
  #rscp-progressbar {
    display: none;
  }
}
@media (max-width: 1240px) {
  .showDebug #rscp-progressbar {
    display: none;
  }
}
.rscp-topMenuItem {
  display: none;
}
.enabledTopMenuItem {
  display: inline;
}
.disabledTopMenuItem {
  display: inline;
}
.disabledTopMenuItem:disabled {
  opacity: 0.3;
}
.menuplaceholder {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 0px;
}
.menuitem {
  list-style-type: none;
  display: table;
  border-collapse: separate;
  border-spacing: 3px 1px;
  margin-left: -3px;
}
.menulink {
  display: table-cell;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #496d8d;
  font-size: 12px;
  font-weight: 400;
}
.enabledMenulink {
  display: table-cell;
  width: 100%;
  color: #004080;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: inherit;
}
.disabledMenulink,
a.disabledMenulink:hover {
  display: table-cell;
  width: 100%;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.activeMenulink,
.activeMenulinkDisabled {
  display: table-cell;
  width: 100%;
  color: #004080;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar-completion-unknown {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/completionUnknown.gif);
}
.sidebar-completion-incomplete {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/incomplete.gif);
}
.sidebar-completion-completed {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/completed.gif);
}
.sidebar-success-unknown {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/successUnknown.gif);
}
.sidebar-success-passed {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/passed.gif);
}
.sidebar-success-failed {
  background-repeat: no-repeat;
  display: table-cell;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../images/failed.gif);
}

/* Main body background */
#rscp-main {
  background-color: #d0d0cd;
  padding: 0px;
}

#ContentDiv iframe {
  width: 100%;
  margin: 0;
  border: none;
  display: block;
}
/*
    these start out forcing the top controls to be hidden, then based
    on values provided in the player configuration call they get removed
    which allows the controls to be shown, assuming other classes
    (aka enabledTopMenuItem) are added
*/
.hideProgress #rscp-progressbar {
  display: none;
}
.hideDebug #viewDebug {
  display: none;
}
.hideDebug #returnToLmsNoDebug {
  display: none;
}
.disableFlow #previous {
  display: none;
}
.disableFlow #next {
  display: none;
}
.hideClose #closeSco {
  display: none;
}
.hideFinish #returnToLms {
  display: none;
}
.hideCourseStructure #toggleMenu {
  display: none;
}
.hideCourseStructure #rscp-sidebar {
  display: none;
}
.hideLogo #rscp-logo {
  display: none;
}
