body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: red !important;
  color: blue !important;
  /* Move down content because we have a fixed navbar that is 51px tall */
  padding-top: 51px;
}
p,li,th,td
{
	font-family:verdana,helvetica,arial,sans-serif;
  color: purple !important;
  background-color: green !important;
	font-size:12px;
	font-weight:400;
	font-style:normal;
}
img#golfimg
{
	float:right;
	width:1000px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid 1px Black;
}
h1, h2, h3 {
  color: brown;
  font-family: BankGothic Lt BT;
}
